<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate"/>
    <meta content="Portfolio by Karla Sequen" name="karlitasg7">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
    <link href="./static/assets/favicon.ico" rel="icon">

    <title>
        {% block title %} Karla Sequen | {% endblock %}
    </title>

    <link href="./static/main.3f6952e4.css" rel="stylesheet">
</head>

<body class="minimal">

{% block content %}

{% endblock %}

<script type="text/javascript" src="./static/main.70a66962.js"></script>
</body>

</html>