{% extends 'base.html' %}
{% block title %}
    {{ super() }}
    About Me
{% endblock %}

{% block content %}
    <div id="site-border-left"></div>
    <div id="site-border-right"></div>
    <div id="site-border-top"></div>
    <div id="site-border-bottom"></div>

    {% include 'header.html' %}

    <div class="section-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section-container-spacer text-center">
                        <h1 class="h2">Contact me</h1>
                    </div>

                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            Thank you!! I will contact you as soon as possible
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}

    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            navActivePage();
        });
    </script>

{% endblock %}