{% extends 'base.html' %}
{% block title %}
    {{ super() }}
    My Experience
{% endblock %}

{% block content %}
    <div id="site-border-left"></div>
    <div id="site-border-right"></div>
    <div id="site-border-top"></div>
    <div id="site-border-bottom"></div>

    {% include 'header.html' %}

    <div class="section-container">
        <div class="container">
            <div class="row">

                <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
                    <div class="text-center">
                        <h1 class="h2">My Experience</h1>
                        <p>These are the companies where I have had experience</p>
                    </div>
                </div>

                <div class="col-md-12">

                    <div id="myCarousel" class="carousel slide projects-carousel">
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="row">
                                    <div class="col-sm-4">

                                        <a href="./workMP.html" title="" class="black-image-project-hover">
                                            <img src="./static/assets/images/work01-hover.jpg" alt=""
                                                 class="img-responsive">
                                        </a>
                                        <div class="card-container card-container-lg">
                                            <h4>MEGAPACA</h4>
                                            <h3>From Junior Programmer to Lead Software Engineer</h3>
                                            <p>October 2010 - Present</p>
                                            <a href="./workMP.html" title="" class="btn btn-default">Details</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <a href="./workGubiz.html" title="" class="black-image-project-hover">
                                            <img src="./static/assets/images/work02-hover.jpg" alt=""
                                                 class="img-responsive">
                                        </a>
                                        <div class="card-container card-container-lg">
                                            <h4>Gubiz</h4>
                                            <h3>Junior Software Developer</h3>
                                            <p>February 2008 - July 2010</p>
                                            <a href="./workGubiz.html" title="" class="btn btn-default">Details</a>
                                        </div>
                                    </div>

                                </div>
                                <!--/row-->
                            </div>

                            <!--/item-->
                        </div>
                        <!--/carousel-inner-->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>

                        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
                    </div>


                    <!--/myCarousel-->
                </div>


            </div>
        </div>
    </div>

    {% include 'footer.html' %}

    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            navActivePage();
        });
    </script>

{% endblock %}
